@model CoinView.Models.SummaryViewModel

@section InfoArea {
    @Html.DisplayFor(x => x.InfoArea)
}

<div class="Content">
    <h4>.Summary</h4>

    @Html.DisplayFor(x => x.UserSummaries)
    <br /><br /><br />

    <div style="margin-left: 18%">
        @Html.DisplayFor(x => x.CombinedSummary)
        <br /><br />
        <button id="toggleEURBTC">EUR <> BTC</button>
        <button type="button" onclick="location.href='@Url.Action("Update", "Summary")'">Update</button>
    </div>
</div>

<script>
    var showEUR = true;
    $("#toggleEURBTC").click(function () { showEUR = !showEUR; updateEURBTC(); });
    updateEURBTC();

    function updateEURBTC() { 
        if (showEUR) {
            $(".SummaryEUR").show();
            $(".SummaryBTC").hide();
        } else { 
            $(".SummaryEUR").hide();
            $(".SummaryBTC").show();
        }
    }

    $(".Content").show();
</script>

