@model CoinView.Models.SummaryViewModel

<h4>.Summary</h4>

@Html.DisplayFor(x => x.UserSummaries)
<br /><br />

@Html.DisplayFor(x => x.CombinedSummary)

<br />
<a asp-area="" asp-controller="Summary" asp-action="Update">UPDATE</a>
