body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: white;
    background: #1e2b34;
    font-family: 'Century Gothic';
    overflow-y: scroll;
    font-weight: bold;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h4 {
    font-size: 20px;
}

.SummaryTable {
    border-radius: 7px;
    display: inline-block;
    background: #131e25;
    padding: 5px 10px 5px 10px;
    margin-right: 50px;
}

.SummaryTable td, .SummaryTable th {
    padding: 0 10px 0 10px;
}

.SummaryTable td.BorderLeft, .SummaryTable th.BorderLeft {
    border-left: 1px solid white;
}

.SummaryTable tr.BorderTop td, .SummaryTable tr.BorderTop th {
    border-top: 1px solid white;
}

.SummaryTable tr.BorderBottom td, .SummaryTable tr.BorderBottom th {
    border-bottom: 1px solid white;
}

.SummaryTable th {
    text-align: right;
}

.SummaryTable table {
    display: inline-block;
}

.SummaryTable .Number {
    text-align: right;
}

.TextGreen {
    color: #21de52;
}

.TextRed {
    color: #ff4a4a;
}

.Title {
    font-size: 16px;
}

button {
    background: #131e25;
    border-color: #000;
}

.Content {
    display: none;
}