<script type="text/javascript" src="~/js/index.js"></script>

<img src="~/images/throbber.gif" class="Throbber" data-bind="visible: !hasValues()" />

<div data-bind="visible: hasValues()">
    <select id="userSelect" data-bind="value: userID, options: users, optionsValue: 'UserId', optionsText: 'Name'"></select>

    <!-- ko if: isTradingAccount() -->
    <h4>.Summary</h4>
    <div class="SummaryTable">
        <table>
            <tr>
                <th></th>
                <th>BTC</th>
                <th>EUR</th>
            </tr>
            <tr>
                <td>Trades</td>
                <td class="Number" data-bind="text: tradingOpenTradeCompareValueBTCSum().formatNumber()"></td>
                <td class="Number" data-bind="text: tradingOpenTradeCompareValueEURSum().formatMoney()"></td>
            </tr>
            <tr>
                <td>Creations</td>
                <td class="Number" data-bind="text: tradingOpenCreationsBTCSum().formatNumber()"></td>
                <td class="Number" data-bind="text: tradingOpenCreationsEURSum().formatMoney()"></td>
            </tr>
            <tr style="border-top: 1px solid">
                <td></td>
                <td class="Number" data-bind="text: hasValues() ? holdingsBTCSum().formatNumber() : ''"></td>
                <td class="Number" data-bind="text: hasValues() ? holdingsEURSum().formatMoney() : ''"></td>
            </tr>
            <tr>
                <td>Buys</td>
                <td class="Number" data-bind="text: '-' + tradingBuyBTCSum().formatNumber()"></td>
                <td class="Number" data-bind="text: '-' + tradingBuyEURSum().formatMoney()"></td>
            </tr>
            <tr style="border-top: 1px solid">
                <td></td>
                <td class="Number" data-bind="text: hasValues() ? tradingTotalSummaryBTC().formatNumber() : '', css: tradingTotalSummaryBTC() > 0 ? 'TextGreen' : 'TextRed'"></td>
                <td class="Number" data-bind="text: hasValues() ? tradingTotalSummaryEUR().formatMoney() : '', css: tradingTotalSummaryEUR() > 0 ? 'TextGreen' : 'TextRed'"></td>
            </tr>
            <tr>
                <td></td>
                <td class="Number" data-bind="text: hasValues() ? tradingTotalSummaryBTCPercent().formatPercent() : '', css: tradingTotalSummaryBTC() > 0 ? 'TextGreen' : 'TextRed'"></td>
                <td class="Number" data-bind="text: hasValues() ? tradingTotalSummaryEURPercent().formatPercent() : '', css: tradingTotalSummaryEUR() > 0 ? 'TextGreen' : 'TextRed'"></td>
            </tr>
        </table>
    </div>
    <br />

    <div class="Column">
        <h4>.Open Trades</h4>
        <!-- ko foreach: openTrades -->
        <div class="Item" data-bind="click: toggleDetails">
            <div class="TopContainer">
                <div class="TopLeft"><span data-bind="text: coin().Name"></span></div>
                <div class="BottomLeft"><span data-bind="text: amount().formatNumber()"></span></div>
                <div class="TopRight"><span data-bind="text: changeEUR().formatMoney() + changeEURPercent().formatPercent(), css: changeEUR() > 0 ? 'TextGreen' : 'TextRed'"></span></div>
                <div class="BottomRight"><span data-bind="text: compareValueEUR().formatMoney()"></span></div>
            </div>
            <div class="Details" data-bind="visible: showDetails">
                <table>
                    <tr><th>BuyDate:</th><td data-bind="text: buyDate().substring(0,10)"></td></tr>
                    <tr><th>BuyWallet:</th><td data-bind="text: buyWallet().Name"></td></tr>
                    <tr><th>&nbsp;</th></tr>
                    <tr><th>BuyPricePerShare:</th><td data-bind="text: buyPricePerShare().formatNumber()"></td></tr>
                    <tr><th>BuyValueBTC:</th><td data-bind="text: buyValueBTC().formatNumber()"></td></tr>
                    <tr><th>BuyValueEUR:</th><td data-bind="text: buyValueEUR().formatMoney()"></td></tr>
                    <tr><th>&nbsp;</th></tr>
                    <tr><th>ComparePricePerShare:</th><td data-bind="text: comparePricePerShare().formatNumber()"></td></tr>
                    <tr><th>CompareValueBTC:</th><td data-bind="text: compareValueBTC().formatNumber()"></td></tr>
                    <tr><th>CompareValueEUR:</th><td data-bind="text: compareValueEUR().formatMoney()"></td></tr>
                    <tr><th>&nbsp;</th></tr>
                    <tr><th>BTC Change:</th><td><span data-bind="text: changeBTC().formatNumber()"></span><br /><span data-bind="text: changeBTCPercent().formatPercent()">test</span></td></tr>
                </table>
            </div>
        </div>
        <!-- /ko -->

        <h4>.Closed Trades</h4>
        <!-- ko foreach: closedTrades -->
        <div class="Item" data-bind="click: toggleDetails">
            <div class="TopContainer">
                <div class="TopLeft"><span data-bind="text: coin().Name"></span></div>
                <div class="BottomLeft"><span data-bind="text: amount().formatNumber()"></span></div>
                <div class="TopRight"><span data-bind="text: changeEUR().formatMoney() + changeEURPercent().formatPercent(), css: changeEUR() > 0 ? 'TextGreen' : 'TextRed'"></span></div>
                <div class="BottomRight"><span data-bind="text: changeBTC().formatNumber() + changeBTCPercent().formatPercent(), css: changeBTC() > 0 ? 'TextGreen' : 'TextRed'"></span></div>
            </div>
            <div class="Details" data-bind="visible: showDetails">
                <table>
                    <tr><th>BuyDate:</th><td data-bind="text: buyDate().substring(0,10)"></td></tr>
                    <tr><th>BuyExchange:</th><td data-bind="text: buyWallet().Name"></td></tr>
                    <tr><th>BuyPricePerShare:</th><td data-bind="text: buyPricePerShare().formatNumber()"></td></tr>
                    <tr><th>BuyValueBTC:</th><td data-bind="text: buyValueBTC().formatNumber()"></td></tr>
                    <tr><th>BuyValueEUR:</th><td data-bind="text: buyValueEUR().formatMoney()"></td></tr>
                    <tr><th>&nbsp;</th></tr>
                    <tr><th>SellDate:</th><td data-bind="text: sellDate().substring(0,10)"></td></tr>
                    <tr><th>SellExchange:</th><td data-bind="text: sellWallet().Name"></td></tr>
                    <tr><th>SellPricePerShare:</th><td data-bind="text: sellPricePerShare().formatNumber()"></td></tr>
                    <tr><th>SellValueBTC:</th><td data-bind="text: sellValueBTC().formatNumber()"></td></tr>
                    <tr><th>SellValueEUR:</th><td data-bind="text: sellValueEUR().formatMoney()"></td></tr>
                </table>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="Column" data-bind="visible: openCreations().length > 0">
        <h4>.Open Creations</h4>
        <!-- ko foreach: openCreations -->
        <div class="Item">
            <div class="TopContainer">
                <div class="TopLeft"><span data-bind="text: coin().Name"></span></div>
                <div class="BottomLeft"><span data-bind="text: amount().formatNumber()"></span></div>
                <div class="TopRight"><span data-bind="text: valueBTC().formatNumber()", class="TextGreen"></span></div>
                <div class="BottomRight"><span data-bind="text: valueEUR().formatMoney()", class="TextGreen"></span></div>
            </div>
        </div>
        <!-- /ko -->

        <h4>.Closed Creations</h4>
        <!-- ko foreach: closedCreations -->
        <div class="Item">
            <div class="TopContainer">
                <div class="TopLeft"><span data-bind="text: coin().Name"></span></div>
                <div class="BottomLeft"><span data-bind="text: amount().formatNumber()"></span></div>
                <div class="TopRight"><span data-bind="text: valueBTC().formatNumber()" , class="TextGreen"></span></div>
                <div class="BottomRight"><span data-bind="text: valueEUR().formatMoney()" , class="TextGreen"></span></div>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="Column">
        <h4>.Buys</h4>
        <!-- ko foreach: buys -->
        <div class="Item">
            <div class="TopContainer">
                <div class="TopLeft"><span data-bind="text: $root.wallets()[ExchangeWalletId].Name"></span></div>
                <div class="BottomLeft"><span data-bind="text: PriceEur.formatMoney()"></span></div>
                <div class="TopRight"><span data-bind="text: AmountInWallet.formatNumber()" , class="TextGreen"></span></div>
                <div class="BottomRight"><span data-bind="text: (AmountBought * PriceEur).formatMoney()" , class="TextGreen"></span></div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <!-- ko if: isInvestmentAccount() -->
    <br />
    <div class="Column">
        <h4>.Investments</h4>
        <div class="SummaryTable">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Exchange</th>
                        <th>Wallet</th>
                        <th>PriceEUR</th>
                        <th>AmountInWallet</th>
                        <th>Buy Value</th>
                        <th>Sell Value</th>
                        <th>Profit</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko foreach: investments-->
                    <tr>
                        <td data-bind="text: date().substring(0,10)"></td>
                        <td data-bind="text: exchange().Name"></td>
                        <td data-bind="text: wallet().Name"></td>
                        <td class="Number" data-bind="text: priceEUR().formatMoney()"></td>
                        <td class="Number" data-bind="text: amountInWallet().formatNumber()"></td>
                        <td class="Number" data-bind="text: buyValueEUR().formatMoney()"></td>
                        <td class="Number" data-bind="text: sellValueEUR().formatMoney()"></td>
                        <td class="Number" data-bind="text: changeEUR().formatMoney() + changeEURPercent().formatPercent(), css: changeEUR() > 0 ? 'TextGreen' : 'TextRed'"></td>
                    </tr>
                    <!-- /ko -->
                    <tr style="border-top: 1px solid">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="Number" data-bind="text: investmentAmountInWalletSum().formatNumber()"></td>
                        <td class="Number" data-bind="text: investmentBuyValueEURSum().formatMoney()"></td>
                        <td class="Number" data-bind="text: investmentSellValueEURSum().formatMoney()"></td>
                        <td class="Number" data-bind="text: investmentChangeEURSum().formatMoney() + investmentChangeEURPercentSum().formatPercent(), css: investmentChangeEURSum() > 0 ? 'TextGreen' : 'TextRed'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="Column Price">
        <h4>.Current Price</h4>
        <h3 data-bind="text: hasValues() ? coinValues()[1].Price_eur.formatMoney() : ''"></h3>
    </div>

    <!-- /ko -->

</div>